Test Key ${test_case_name:upper}: ${test_key}
Test Key ${test_case_name:upper}: ${test_key:lower}
Test Key ${test_case_name:upper}: ${test_key:upper}
Test Key ${test_case_name:upper}: ${test_key:capitalize}