Test Key ${test_case_name:upper}: ${test_key_a}
Test Key ${test_case_name:upper}: ${test_key_a:lower}
Test Key ${test_case_name:upper}: ${test_key_a:upper}
Test Key ${test_case_name:upper}: ${test_key_a:capitalize}